<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div id="schollRef" data-bs-spy="scroll">
  <div class="container" style="width: 75%; margin-left: 25%">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="e-tabs mb-3 px-3">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active"><strong>vehicles</strong> </a>
            </li>
          </ul>
        </div>

        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="card-title">
                  <h6 class="mr-2">
                    <small class="px-1">vehicles list</small>
                  </h6>
                </div>
                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Description</th>
                          <th>Year</th>
                          <th>Make</th>
                          <th>Capacity</th>
                          <th>Active</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let vehicle of vehicleR">
                          <td class="text-nowrap align-middle">
                            {{ vehicle.id }}
                          </td>
                          <td class="text-nowrap align-middle">
                            {{ vehicle.description }}
                          </td>
                          <td class="text-nowrap align-middle">
                            {{ vehicle.year }}
                          </td>
                          <td class="text-nowrap align-middle">
                            {{ vehicle.make }}
                          </td>
                          <td class="text-nowrap align-middle">
                            {{ vehicle.capacity }}
                          </td>
                          <td class="text-nowrap align-middle">
                            {{ vehicle.active }}
                          </td>
                          <td class="text-center align-middle">
                            <div class="btn-group align-top">
                              <button
                                class="btn btn-sm btn-outline-secondary badge"
                                type="button"
                                data-toggle="modal"
                                data-target="#user-form-modal"
                                (click)="startEdit(vehicle.id)"
                              >
                                Edit
                              </button>
                              <button
                                class="btn btn-sm btn-outline-secondary badge"
                                type="button"
                                (click)="delete(vehicle.id)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mb-3" style="display: block; margin: auto">
          <div class="card">
            <div class="card-body">
              <div class="text-center px-xl-3 mt-3">
                <button
                  class="btn btn-success btn-block"
                  type="button"
                  data-toggle="modal"
                  data-target="#user-form-modal"
                  (click)="getAll()"
                >
                  GetAll
                </button>
              </div>
              <hr class="my-3" />
              <form [formGroup]="searchForm">
                <div class="form-group">
                  <label>Search by Name:</label>
                  <div>
                    <input
                      class="form-control w-100"
                      type="text"
                      placeholder="Name"
                      value=""
                      formControlName="id"
                    />
                  </div>
                </div>
                <div class="text-center px-xl-3 mt-3">
                  <button
                    class="btn btn-success btn-block"
                    type="button"
                    data-toggle="modal"
                    data-target="#user-form-modal"
                    (click)="search()"
                  >
                    Search
                  </button>
                </div>
              </form>
              <hr class="my-3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    style="width: 75%; margin-left: 25%; padding: 20px"
    class="shadow p-3 mb-5 bg-white rounded"
    [formGroup]="inputForm"
  >
    <p class="text-center" style="font-size: 20px">
      <strong>{{ formTitle }}</strong>
    </p>
    <div class="form-group mt-2">
      <label for="exampleFormControlInput1">Description</label>
      <input
        formControlName="description"
        type="text"
        class="form-control"
        placeholder="Last name"
      />
    </div>
    <div class="form-group mt-2">
      <label for="exampleFormControlInput1">Year</label>
      <input
        formControlName="year"
        type="number"
        class="form-control"
        placeholder="Year"
      />
    </div>
    <div class="form-group mt-2">
      <label for="exampleFormControlInput1">Make</label>
      <input
        formControlName="make"
        type="number"
        class="form-control"
        placeholder="make"
      />
    </div>
    <div class="custom-control custom-checkbox">
      <input
        type="checkbox"
        formControlName="active"
        class="custom-control-input"
        id="customCheck1"
      />
      <label class="custom-control-label" for="customCheck1">Active</label>
    </div>

    <div class="text-center px-xl-3 mt-3">
      <button
        *ngIf="!editing"
        class="btn btn-success btn-block"
        type="button"
        data-toggle="modal"
        data-target="#user-form-modal"
        (click)="create()"
      >
        Create
      </button>
      <button
        *ngIf="editing"
        class="btn btn-success btn-block"
        type="button"
        data-toggle="modal"
        data-target="#user-form-modal"
        (click)="edit()"
      >
        Update
      </button>
    </div>
  </form>
</div>
