<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/dashboard" style="background-color: #342a89">
          DashBoard
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/driver">Driver</a>
      </li>
      <li>
        <a routerLink="/dashboard/route">Route</a>
      </li>
      <li>
        <a routerLink="/dashboard/vehicle">Vehicle</a>
      </li>
    </ul>
  </div>
</div>
